<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Account</title>
</head>
<body>
    <%- include("include/header.ejs") %>
    <h1>No such account..</h1>
    <%- include("include/footer.ejs") %>
</body>
</html>